<%- 
  model_class = CriminalCode 
  page_title "#{model_class.model_name.human.pluralize.titleize}"
-%>

<% if user_signed_in? %>
  <div class='actions-container'>
    <%= render partial: 'shared/index_actions',
          locals: {
            model_class: model_class,
            new_path: new_criminal_code_path
          }
    %>
  </div>
<% end %>

<%-
  datatable_class = (can? :edit, CriminalCode) ? 'datatable-admin' : 'datatable'
-%>
<table class="table table-striped table-hover table-nonfluid <%= datatable_class %>">
  <thead>
    <tr>
      <th></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <% if can? :edit, CriminalCode %><th><%=t '.actions', :default => t("helpers.actions") %></th><% end %>
    </tr>
  </thead>
  <tbody>
    <% @criminal_codes.each do |criminal_code| %>
      <tr>
        <td><%= link_to t('helpers.links.view'), criminal_code_path(criminal_code), class: 'btn btn-default' %></td>
        <td><%= criminal_code.name %></td>
        <% if (can? :edit, criminal_code) || (can? :destroy, criminal_code) %>
          <td>
            <%= if can? :edit, criminal_code
                link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_criminal_code_path(criminal_code), :class => 'btn btn-default btn-xs'
            end %>
            <%= if can? :destroy, criminal_code
                  link_to t('.destroy', :default => t("helpers.links.destroy")),
                        criminal_code_path(criminal_code),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger'
            end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
