<%-
  model_class = CriminalCode
  page_title "#{model_class.model_name.human.pluralize.titleize}"
-%>

<% if user_signed_in? %>
  <div class='actions-container'>
    <%= render partial: 'shared/index_actions',
          locals: {
            model_class: model_class,
            new_path: new_criminal_code_path
          }
    %>
  </div>
<% end %>

<%-
  datatable_class = (can? :edit, CriminalCode) ? 'datatable-admin' : 'datatable'
-%>
<table class="table table-striped table-hover table-nonfluid <%= datatable_class %>">
  <thead>
    <tr>
      <th></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <% if can? :edit, CriminalCode %><th class="action-col"><%=t 'shared.common.actions' %></th><% end %>
    </tr>
  </thead>
  <tbody>
    <% @criminal_codes.each do |criminal_code| %>
      <tr>
        <td><%= link_to t('shared.actions.view'), criminal_code_path(criminal_code), class: 'btn btn-default' %></td>
        <td><%= criminal_code.name %></td>
        <% if (can? :edit, criminal_code) || (can? :destroy, criminal_code) %>
          <td>
            <%= if can? :edit, criminal_code
                link_to t('shared.actions.edit'),
                        edit_criminal_code_path(criminal_code), :class => 'btn btn-default'
            end %>
            <%= if can? :destroy, criminal_code
                  link_to t('shared.actions.destroy'),
                        criminal_code_path(criminal_code),
                        :method => :delete,
                        :data => { :confirm => t('shared.prompts.confirm') },
                        :class => 'btn btn-danger'
            end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
