<%
  model_class = Article
  page_title t('.title')
  page_title_right link_to(t('app.actions.with_obj.csv_download',
                             obj: t('.title')),
                           articles_path(format: :csv),
                           class: 'btn btn-default')
%>

<% if user_signed_in? %>
  <div class='actions-container'>
    <%= render partial: 'shared/index_actions',
          locals: {
            model_class: model_class,
            new_path: new_article_path
          }
    %>
  </div>
<% end %>

<%-
  datatable_class = (can? :edit, Article) ? 'datatable-article-admin' : 'datatable-article'
-%>
<table class="table table-striped table-hover table-nonfluid <%= datatable_class %>">
  <thead>
    <tr>
      <th></th>
      <th><%= t('activerecord.models.criminal_code') + ' - ' + t('activerecord.models.article') + ' ' + t('activerecord.attributes.article.number') %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th>Number of People Currently Imprisoned With This Charge</th>
      <th>Number of People That Have Been Imprisoned With This Charge</th>
      <% if can? :edit, Article %><th class="action-col"><%=t 'app.common.actions' %></th><% end %>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to t('app.actions.view'), article_path(article), class: 'btn btn-default' %></td>
        <td><%= article.criminal_code.name %> - <%= article.number %></td>
        <td><%= simple_format_no_tags(article.description) if article.description.present? %></td>
        <td><%= number_with_delimiter(article['current_prisoner_count'])  %></td>
        <td><%= number_with_delimiter(article['all_prisoner_count'])  %></td>
        <% if (can? :edit, article) || (can? :destroy, article) %>
          <td>
            <%= if can? :edit, article
                  link_to t('app.actions.edit'),
                        edit_article_path(article), :class => 'btn btn-default'
            end %>
            <%= if can? :destroy, article
                  link_to t('app.actions.destroy'),
                        article_path(article),
                        :method => :delete,
                        :data => { :confirm => t('app.prompts.confirm') },
                        :class => 'btn btn-danger'
            end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
