<%-
  model_class = Article
  page_title t('.title',
               arrest_charge: t('articles.single'),
               article_number: @article.number,
               code_name: @article.criminal_code.name,
               code_model_name: t('activerecord.models.criminal_code'))
  page_title_right link_to(t('shared.actions.with_obj.view_all',
                             obj: t('articles.plural')),
                           articles_path,
                           class: 'btn btn-default')
-%>

<% if user_signed_in? %>
  <div class='actions-container'>
    <%= render partial: 'shared/show_actions',
          locals: {
            object: @article,
            index_path: articles_path,
            show_path: article_path,
            edit_path: edit_article_path
                  }
    %>
  </div>
<% end %>
<div class='article-description'>
  <%= simple_format_no_tags(@article.description) if @article.description.present? %>
</div>

<div id="show-counts" class="row">
  <div class="col-sm-4 col-sm-offset-1">
    <div class="prisoner-count">
      <div class="count"><%= number_with_delimiter(@article_with_counts['current_prisoner_count']) %></div>
      <div class="intro intro-small"> <%=t '.counts.currently_imprisoned_with_charge' %></div>
    </div>
  </div>
  <div class="col-sm-4 col-sm-offset-2">
    <div class="prisoner-count">
      <div class="count"><%= number_with_delimiter(@article_with_counts['all_prisoner_count']) %></div>
      <div class="intro intro-small"> <%=t '.counts.total_imprisoned_with_charge' %></div>
    </div>
  </div>
</div>


<div class="datatable-topmargin">
  <table class="table table-striped table-hover datatable table-nonfluid">
    <thead>
      <tr>
        <th></th>
        <th><%=t '.column_label.all_people_charged_with_article' %></th>
        <th><%=t '.column_label.total_days_in_prison' %></th>
      </tr>
    </thead>
    <tbody>
      <% @prisoners_with_article.each do |prisoner| %>
        <tr>
          <td><%= link_to t('shared.actions.view'), prisoner_path(prisoner), class: 'btn btn-default' %></td>
          <td><%= prisoner.name %></td>
          <td>
            <%= number_with_delimiter(prisoner.total_days_in_prison) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
