<p id="notice"><%= notice %></p>

<p>
  <strong>Prisoner:</strong>
  <%= link_to @incident.prisoner.name, @incident.prisoner %>
</p>

<p>
  <strong>Date of arrest:</strong>
  <%= @incident.date_of_arrest %>
</p>

<div>
  <strong>Description of arrest:</strong>
  <%= simple_format(@incident.description_of_arrest) %>
</div>

<p>
    <strong>Charges:</strong>
    <%= displayCharges(@incident.charges) %>
</p>

<p>
  <strong>Prison:</strong>
  <%= if @incident.prison
          link_to @incident.prison.name, @incident.prison
      end %>
</p>

<p>
  <strong>Type:</strong>
  <%= link_to @incident.type.name, @incident.type %>
</p>

<p>
  <strong>Subtype:</strong>
  <%= if @incident.subtype
          link_to @incident.subtype.name, @incident.subtype
      end %>
</p>

<p>
  <strong>Date of release:</strong>
  <%= @incident.date_of_release %>
</p>

<p>
  <strong>Description of release:</strong>
  <%= simple_format(@incident.description_of_release) %>
</p>

<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Back', incidents_path %>
