<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type.name %>
</p>
<div>
    <strong>All Prisoners:</strong>
    <ol>
        <% @type_prisoners.each do |prisoner| %>
          <li><%= link_to prisoner.name, prisoner %></li>
        <% end %>
    </ol>
</div>
<% if !@type.subtypes.empty? %>
  <div>
    <strong>Prisoners by Subtype:</strong>
    <% @type_subtypes.each do |subtype| %>
      <div>
        <p><%= link_to subtype.name, subtype %></p>
        <ol>
          <% Prisoner.by_subtype(subtype).each do |prisoner| %>
            <li><%= link_to prisoner.name, prisoner %></li>
          <% end %>
        </ol>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to 'Edit', edit_type_path(@type) %> |
<%= link_to 'Back', types_path %>
