<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type.name %>
</p>
<p>
  <strong>Prisoners:</strong>
    <ul>
        <% @type_prisoners.each do |prisoner| %>
          <li><%= link_to prisoner.name, prisoner %></li>
        <% end %>
    </ul>
</p>

<%= link_to 'Edit', edit_type_path(@type) %> |
<%= link_to 'Back', types_path %>
