<% show_name = (can? :create, @page_section) ? true : false %>

<%
page_title t('.title',
             label: t('activerecord.attributes.page_section.label'),
             label_value: @page_section.label)
%>

<div class='actions-container'>
  <%= render partial: 'shared/show_actions',
        locals: {
          object: @page_section,
          index_path: page_sections_path,
          show_path: page_section_path,
          edit_path: edit_page_section_path
                }
  %>
</div>

<dl class="dl-horizontal">
  <% if show_name %>
    <dt><strong><%=t 'activerecord.attributes.page_section.name' %>:</strong></dt>
    <dd><%= @page_section.name %></dd>
  <% end %>
  <dt><strong><%=t 'activerecord.attributes.page_section.label' %>:</strong></dt>
  <dd><%= @page_section.label %></dd>
  <dt><strong><%=t 'activerecord.attributes.page_section.content' %>:</strong></dt>
  <dd><%= simple_format_no_tags(@page_section.content) %></dd>
</dl>
