<%-
  model_class = Tag
  page_title t('tag.public.label', count: 999)
-%>

<% if user_signed_in? %>
  <div class='actions-container'>
    <%= render partial: 'shared/index_actions',
               locals: {
                 model_class: model_class,
                 new_path: new_tag_path
               }
    %>
  </div>
<% end %>

<%-
  datatable_class = (can? :edit, Tag) ? 'datatable-tag-admin' : 'datatable-tag'
-%>
<table class="table table-striped table-hover table-nonfluid <%= datatable_class %>">
  <thead>
    <tr>
      <th></th>
      <th><%=t 'tag.public.label', count: 1 %></th>
      <th><%=t '.column.num_currently_imprisoned' %></th>
      <th><%=t '.column.num_have_been_imprisoned' %></th>
      <% if can? :edit, Tag %>
        <th class="action-col"><%=t 'shared.common.actions' %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td>
          <%= link_to t('shared.actions.view'),
                      tag_path(tag),
                      class: 'btn btn-default' %>
        </td>
        <td><%= tag.name %></td>
        <td><%= number_with_delimiter(tag['current_prisoner_count'])  %></td>
        <td><%= number_with_delimiter(tag['all_prisoner_count'])  %></td>
        <% if (can? :edit, tag) || (can? :destroy, tag) %>
          <td>
            <%= if can? :edit, tag
                  link_to t('shared.actions.edit'),
                          edit_tag_path(tag),
                          class: 'btn btn-default'
            end %>
            <%= if can? :destroy, tag
                  link_to t('shared.actions.destroy'),
                        tag_path(tag),
                        method: :delete,
                        data: { confirm: t('shared.prompts.confirm') },
                        class: 'btn btn-danger'
            end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
