<%- model_class = Tag -%>
<% page_title model_class.model_name.human.titleize + ': ' + @tag.name %>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= simple_format(@tag.description) if @tag.description.present? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:prisoners) %>:</strong></dt>
  <dd>
    <ul>
      <% @prisoners_with_tag.each do |prisoner| %>
        <li><%= link_to prisoner.name, prisoner %></li>
      <% end %>
    </ul>
  </dd>
</dl>

<%= render partial: 'shared/show_actions',
      locals: {
        object: @tag,
        index_path: tags_path,
        show_path: tag_path,
        edit_path: edit_tag_path
              }
%>
