<%-
  model_class = Tag
  page_title 'Category: ' + @tag.name
  page_title_right link_to('View All Categories', tags_path, class: 'btn btn-default')
-%>

<% if user_signed_in? %>
  <div class='actions-container'>
    <%= render partial: 'shared/show_actions',
          locals: {
            object: @tag,
            index_path: tags_path,
            show_path: tag_path,
            edit_path: edit_tag_path
                  }
    %>
  </div>
<% end %>

<div id="show-counts" class="row">
  <div class="col-sm-4 col-sm-offset-1">
    <div class="prisoner-count">
      <div class="count"><%= number_with_delimiter(@tag_with_counts['current_prisoner_count']) %></div>
      <div class="intro intro-small"> Currently Imprisoned With This Category</div>
    </div>
  </div>
  <div class="col-sm-4 col-sm-offset-2">
    <div class="prisoner-count">
      <div class="count"><%= number_with_delimiter(@tag_with_counts['all_prisoner_count']) %></div>
      <div class="intro intro-small"> Have Been Imprisoned With This Category</div>
    </div>
  </div>
</div>

<%= simple_format_no_tags(@tag.description) if @tag.description.present? %>

<div class="datatable-topmargin">
  <table class="table table-striped table-hover datatable table-nonfluid">
    <thead>
      <tr>
        <th></th>
        <th>People That Have Been Imprisoned With This Category</th>
        <th>Total Days in Prison</th>
      </tr>
    </thead>
    <tbody>
      <% @prisoners_with_tag.each do |prisoner| %>
        <tr>
          <td><%= link_to t('app.actions.view'), prisoner_path(prisoner), class: 'btn btn-default' %></td>
          <td><%= prisoner.name %></td>
          <td>
            <%= number_with_delimiter(prisoner.total_days_in_prison) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
