<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<p>
    <strong>Description:</strong>
    <%= simple_format @tag.description %>
</p>

<div>
    <strong>Prisoners:</strong>
    <ul>
        <% @tag.incidents.each do |incident| %>
          <li><%= link_to incident.prisoner.name, incident.prisoner %></li>
        <% end %>
    </ul>
</div>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
