<% page_title t('.title') %>

<div id="about">
  <%= simple_format_no_tags(@project_description.content) %>

  <p><%=t '.contributor_list_intro' %></p>

  <ul id="logos" class="list-inline">
    <li>
      <%= link_to(image_tag("about_js.png"),
                  "http://www.jumpstart.ge/en",
                  target: "_blank",
                  title: t('shared.common.jumpstart.slogan')) %>
    </li>
    <li>
      <%= link_to(image_tag("about_meydan.png"),
                  "http://www.meydan.tv/en",
                  target: "_blank",
                  title: t('shared.common.meydan.slogan')) %>
    </li>
  </ul>


  <p><%=t '.contact_intro' %></p>
  <p>
    <a href='ma&#105;l&#116;o&#58;info%40p%72ison%&#54;5rs&#46;w&#97;t%&#54;3h'>
      i&#110;&#102;o&#64;&#112;&#114;i&#115;oners&#46;&#119;&#97;t&#99;&#104;
    </a>
    (<a href="/Prisoners Watch info@prisoners.watch (0x8FB4E7CD) pub.asc">PGP</a>)
  </p>
</div>
