<div class="row">
  <div class="col-sm-6">
    <div id="prisoner-count">
      <span><%= @currently_imprisoned_count %></span><span> Azerbaijanis currently imprisoned in Azerbaijan for political reasons</span>
    </div>
    <div id="main-description">
      As Azerbaijan hosts the first ever European Games this month, it is important to remember that there are many that cannot participate. They cannot because they are in Azerbaijani prisons for speaking the truth. For defending human rights. For documenting corruption. Here you can meet these political prisoners, and you can explore the scope of Azerbaijan's efforts to stifle freedoms of expression.
    </div>
  </div>
  <div class="col-sm-6">
      <div id="featured-prisoner">
        <h2>
          <%= link_to('Meet: ' + @featured_prisoner.name, prisoner_path(@featured_prisoner)) %>
        </h2>

        <%= link_to image_tag(@featured_prisoner.portrait.url(:thumb)), prisoner_path(@featured_prisoner) %>

        <p>
          In prison since: <%= l @featured_prisoner_inc.date_of_arrest, format: :long %>
        </p>

        <% if @featured_prisoner_inc.prison.present? %>
          <p>
            Imprisoned at: <%= link_to @featured_prisoner_inc.prison.name, prison_path(@featured_prisoner_inc.prison) %>
          </p>
        <% end %>

        <% if @featured_prisoner_inc.articles.present? %>
          <p>
            Charged under articles: <%= @featured_prisoner_inc.articles.map{ |art| link_to art.number, article_path(art) }.join(', ').html_safe %>
          </p>
        <% end %>

        <% if @featured_prisoner_inc.description_of_arrest.present? %>
          <div id="featured-description">
            <%= simple_format_no_tags(truncate(strip_tags(@featured_prisoner_inc.description_of_arrest), separator: ' ', length: 300)) %>
          </div>
        <% end %>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 main-link">
    <a class="btn btn-success" href="<%= methodology_path %>">
      <span>What is a political prisoner?</span>
    </a>
  </div>
  <div class="col-sm-4 main-link">
    <a class="btn btn-success" type="button" href="<%= prisoners_path %>">
      <span>Meet Azerbaijani Political Prisoners</span>
    </a>
  </div>
  <div class="col-sm-4 main-link">
    <a class="btn btn-success" type="button" href="<%= articles_path %>">
      <span>See the Charges</span>
    </a>
  </div>
</div>
<div id="imprisoned-count-timeline" style="width:100%; height:400px;"></div>
<div class="row">
  <div class="col-sm-6">
    <div id="prison-prisoner-counts" style="width:100%; height:500px;"></div>
  </div>
  <div class="col-sm-6">
    <div id="top-10-charge-counts" style="width:100%; height:500px;"></div>
  </div>
</div>
