
<div class="row">
  <div class="col-sm-6">
    <div class="prisoner-count">
      <div class="count"><%= @currently_imprisoned_count %></div>
      <div class="intro"> Azerbaijanis currently imprisoned in Azerbaijan for political reasons</div>
      <div class="description"><%= t('app.common.app_description') %></div>
    </div>
  </div>
  <div class="col-sm-6">
    <% unless (@featured_prisoner.blank?) || (@featured_prisoner.incidents.blank?) %>
      <div id="featured-prisoner">
        <h2><%= link_to('Meet: ' + @featured_prisoner.name, prisoner_path(@featured_prisoner)) %></h2>
        <div class="figure">
          <%= link_to image_tag(@featured_prisoner.portrait.url(:large)), prisoner_path(@featured_prisoner) %>
        </div>
        <div class="info">
          <p><strong>In Prison Since:</strong> <%= l @featured_prisoner_inc.date_of_arrest, format: :long %></p>
          <% if @featured_prisoner_inc.prison.present? %>
            <p><strong>Imprisoned At:</strong> <%= link_to @featured_prisoner_inc.prison.name, prison_path(@featured_prisoner_inc.prison) %></p>
          <% end %>
          <% if @featured_prisoner_inc.articles.present? %>
            <p><strong>Charged Under Article(s) :</strong> <%= @featured_prisoner_inc.articles.map{ |art| link_to art.number, article_path(art) }.join(', ').html_safe %></p>
          <% end %>
          <% if @featured_prisoner_inc.description_of_arrest.present? %>
            <div id="featured-description">
              <%= simple_format_no_tags(truncate(strip_tags(@featured_prisoner_inc.description_of_arrest), separator: ' ', length: 300)) %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 main-link">
    <a class="btn btn-success" href="<%= methodology_path %>">
      <span>What is a political prisoner?</span>
    </a>
  </div>
  <div class="col-sm-4 main-link">
    <a class="btn btn-success" type="button" href="<%= prisoners_path %>">
      <span>Meet Azerbaijani Political Prisoners</span>
    </a>
  </div>
  <div class="col-sm-4 main-link">
    <a class="btn btn-success" type="button" href="<%= articles_path %>">
      <span>See the Charges</span>
    </a>
  </div>
</div>
<div id="imprisoned-count-timeline" style="width:100%; height:400px;"></div>
<div class="row">
  <div class="col-sm-6">
    <div id="prison-prisoner-counts" style="width:100%; height:500px;"></div>
  </div>
  <div class="col-sm-6">
    <div id="top-10-charge-counts" style="width:100%; height:500px;"></div>
  </div>
</div>
