<%= form_for(@prison) do |f| %>
  <% if @prison.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prison.errors.count, "error") %> prohibited this prison from being saved:</h2>

      <ul>
      <% @prison.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
