<%- model_class = Prison -%>
<% page_title model_class.model_name.human.titleize + ': ' + @prison.name %>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= simple_format(@prison.description) if @prison.description.present? %></dd>  <dt>
  <strong><%= model_class.human_attribute_name(:prisoners) %>:</strong></dt>
  <dd>
    <ol>
      <% @prisoners_in_prison.each do |prisoner| %>
        <li><%= link_to prisoner.name, prisoner %></li>
      <% end %>
    </ol>
  </dd>
</dl>

<%= render partial: 'shared/show_actions',
      locals: {
        object: @prison,
        index_path: prisons_path,
        show_path: prison_path,
        edit_path: edit_prison_path
              }
%>
