<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @prison.name %>
</p>

<div>
    <strong>Prisoners:</strong>
    <ol>
        <% @prisoners_in_prison.each do |prisoner| %>
        <li><%= link_to prisoner.name, prisoner %></li>
        <% end %>
    </ol>
</div>

<%= link_to 'Edit', edit_prison_path(@prison) %> |
<%= link_to 'Back', prisons_path %>
