<%= semantic_form_for(@prisoner) do |f| %>
  <%= f.semantic_errors *f.object.errors.keys %>
  <%= f.inputs do %>

  <div class="row">
    <div class="col-md-3">
      <%= f.label :portrait %>
      <%= image_tag @prisoner.portrait.url(:large)  if @prisoner.has_attribute?(:portrait_file_name) %>
      <%= f.input :portrait, as: :file, label: false %>
    </div>
    <div class="col-md-9">
      <%= f.input :name %>
    </div>
  </div>

    <div class="header h3"><div>Incidents</div><div><div class="hor-line"></div></div></div>
    <div id="incidents">
        <%= f.semantic_fields_for :incidents do |incident| %>
          <%= render "incident_fields", f: incident %>
        <% end %>

    </div>
  <% end %>
  <%= f.actions do %>
   <div id="links"><%= link_to_add_association  f, :incidents, class: 'btn btn-primary', :data => {"association-insertion-node" => "#incidents",
   "association-insertion-method" => "append" } do %>
      <span class="fa fa-plus"></span> Add New Incident
   <% end %></div>
    <button name="button" type="submit" class="btn btn-success" id="prisoner_submit_action">
      <span class="fa fa-floppy-o"></span>
      <% if @prisoner.new_record? %>
        Create Prisoner
      <% else %>
        Update Prisoner
      <% end %>
      </button>
  <% end %>
<% end %>
