<%= form_for(@prisoner) do |f| %>
  <% if @prisoner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prisoner.errors.count, "error") %> prohibited this prisoner from being saved:</h2>

      <ul>
      <% @prisoner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <h3>Incidents</h3>
  <div id="incidents">
    <%= f.fields_for :incidents do |incident| %>
      <%= render "incident_fields", f: incident %>
      <div id="links"><%= link_to_add_association 'Add New Incident', f, :incidents %></div>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>