<%= semantic_form_for(@prisoner) do |f| %>
  <%= f.semantic_errors *f.object.errors.keys %>
  <%= f.inputs do %>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :portrait %>
        <%= image_tag @prisoner.portrait.url(:large)  if @prisoner.has_attribute?(:portrait_file_name) %>
        <%= f.input :portrait, as: :file, label: false %>
      </div>
      <div class="col-md-9">
        <%= f.input :name %>
        <%= f.input :date_of_birth, as: :string, input_html: { class: 'date_of_birth_select', size: 20 } %>
        <%= f.input :gender_id, as: :radio, collection: gender_collection %>
      </div>
    </div>
  <% end %>

  <%= f.actions do %>
    <button name="button" type="submit" class="btn btn-success" id="prisoner_submit_action">
      <span class="fa fa-floppy-o"></span>
      <% if @prisoner.new_record? %>
        <%=t 'shared.actions.with_obj.create',
             obj: t('activerecord.models.prisoner', count: 1) %>
      <% else %>
        <%=t 'shared.actions.with_obj.update',
             obj: t('activerecord.models.prisoner', count: 1) %>
      <% end %>
    </button>
  <% end %>
<% end %>
