<%= semantic_form_for(@prisoner) do |f| %>
  <%= f.semantic_errors *f.object.errors.keys %>
  <%= f.inputs do %>
    <%= f.input :name %>
    <%= f.input :portrait, as: :file %>
    <%= if @prisoner.has_attribute?(:portrait_file_name)
          image_tag @prisoner.portrait.url(:medium)
        end %>

    <h3>Incidents</h3>
    <div id="incidents">
        <%= f.semantic_fields_for :incidents do |incident| %>
          <%= render "incident_fields", f: incident %>
        <% end %>
        <div id="links"><%= link_to_add_association 'Add New Incident', f, :incidents, class: 'btn btn-success' %></div>
    </div>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, button_html: { class: 'btn btn-success' } %>
  <% end %>
<% end %>
