<div class="nested-fields">
    <h3>Arrest <%= f.object.date_of_arrest %> - <%= link_to_remove_association "Remove", f %></h3>
    <div class="field">
        <%= f.label :date_of_arrest %><br>
        <%= f.date_select :date_of_arrest, {start_year: Time.now.year - 50, end_year: Time.now.year} %>
    </div>
    <div class="field">
        <%= f.label :description_of_arrest %><br>
        <%= f.text_area :description_of_arrest, class: 'tinymce', rows: '20' %>
    </div>
    <div class="field">
        <%= f.label :article_ids, 'Charges' %><br>
        <%= f.collection_select(:article_ids, Article.all, :id, :number, {}, multiple: true) %>
    </div>
    <div class="field">
        <%= f.label :prison_id %><br>
        <%= f.collection_select(:prison_id, Prison.all, :id, :name, prompt: true) %>
    </div>
    <div class="field">
        <%= f.label :type_id %><br>
        <%= f.collection_select(:type_id, Type.all, :id, :name, {prompt: true}, {class: 'type_select'}) %>
    </div>
    <div class="field">
        <%= f.label :subtype_id %><br>
        <%= f.collection_select(:subtype_id, Subtype.where(type: f.object.type), :id, :name) %>
    </div>
    <div class="field">
        <%= f.label :date_of_release %><br>
        <%= f.date_select :date_of_release, {start_year: Time.now.year - 50, end_year: Time.now.year, prompt: true} %>
    </div>
    <div class="field">
        <%= f.label :description_of_release %><br>
        <%= f.text_area :description_of_release, class: 'tinymce', rows: '20' %>
    </div>
</div>

<%= tinymce %>
