<div class="nested-fields" style="display: <%= f.object.marked_for_destruction? ? 'none' : 'block' %>">
    <h3>Arrest <%= f.object.date_of_arrest %> - <%= link_to_remove_association "Remove", f %></h3>
    <%= f.input :date_of_arrest, as: :string, input_html: { class: 'date_of_arrest_select' } %>
    <%= f.input :description_of_arrest, input_html: { class: 'tinymce' } %>

    <%= f.input :articles, as: :select, collection: option_groups_from_collection_for_select(CriminalCode.all, :articles, :name_with_model_name, :id, :number, f.object.articles), input_html: { class: 'charges_select', multiple: true } %>
        <!--f.grouped_collection_select(:article_ids, CriminalCode.all, :articles, :name_with_model_name, :id, :number, {}, {multiple: true, class: 'charges_select'})-->

    <%= f.input :prison %>
    <%= f.input :type, prompt: true, input_html: {class: 'type_select'} %>
    <%= f.input :subtype, collection: Subtype.where(type: f.object.type) %>
    <%= f.input :date_of_release, as: :string, input_html: { class: 'date_of_release_select' } %>
    <%= f.input :description_of_release, input_html: { class: 'tinymce' } %>
</div>