<div class="nested-fields" style="display: <%= f.object.marked_for_destruction? ? 'none' : 'block' %>">
    <h3>Incident (Arrest Date <%= f.object.date_of_arrest %>) <%= link_to_remove_association "Remove Incident", f, class: 'btn btn-danger' %></h3>
    <%= f.input :date_of_arrest, as: :string, input_html: { class: 'date_of_arrest_select', size: 20 } %>
    <%= f.input :description_of_arrest, input_html: { class: 'tinymce' } %>
    <%= f.input :tags, as: :select, collection: @tags, input_html: { class: 'tags_select', multiple: true }, hint: ('If the tag does not yet exist in the dropdown, <b>' + link_to('create it here', new_tag_path, target: '_blank') + '.</b>').html_safe %>
    <%= f.input :articles, as: :select, label: 'Charges', collection: option_groups_from_collection_for_select(CriminalCode.all.includes(:articles), :articles, :name_with_model_name, :id, :number, f.object.article_ids), input_html: { class: 'charges_select', multiple: true }, hint: ('If the article does not yet exist in the dropdown, <b>' + link_to('create it here', new_article_path, target: '_blank') + '.</b>').html_safe %>
    <%= f.input :prison, collection: @prisons, hint: ('If the prison does not yet exist in the dropdown, <b>' + link_to('create it here', new_prison_path, target: '_blank') + '.</b>').html_safe %>
    <%= f.input :date_of_release, as: :string, input_html: { class: 'date_of_release_select', size: 20 } %>
    <%= f.input :description_of_release, input_html: { class: 'tinymce' } %>
</div>
