<%- 
  model_class = Prisoner 
  page_title "#{model_class.model_name.human.pluralize.titleize}"
  links = link_to("#{model_class.model_name.human.pluralize.titleize} CSV Download", prisoners_path(format: :csv), class: 'btn btn-default')
  links << link_to("#{Incident.model_name.human.pluralize.titleize} CSV Download", incidents_to_csv_prisoners_path, class: 'btn btn-default')
  page_title_right links
-%>

<% if user_signed_in? %>
  <div class='actions-container'>
    <%= render partial: 'shared/index_actions',
          locals: {
            model_class: model_class,
            new_path: new_prisoner_path
          }
    %>
  </div>
<% end %>


<div class="prisoners-container">
  <% @prisoners.each do |prisoner| %>
    <div class="info row">
      <div class="col-md-9 left-box">
        <div class="figure">
          <%= image_tag(prisoner.portrait.url(:large), class: "img-responsive") %>
          <% if (can? :edit, prisoner) || (can? :destroy, prisoner) %>
            <div>
              <%= if can? :edit, prisoner
                    link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_prisoner_path(prisoner), :class => 'btn btn-default'
                  end %>
              <%= if can? :destroy, prisoner
                    link_to t('.destroy', :default => t("helpers.links.destroy")),
                          prisoner_path(prisoner),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-danger'
              end %>
            </div>
          <% end %>
        </div>
        <div class="name h1"><%= prisoner.name %></div>
      </div>
      <div class="col-md-3 right-box">
        <div class="total">
          <div class="days"><%= prisoner.total_days_in_prison %></div>
          <div class="in-prison">total days spent in prison</div>
        </div>
        <div class="status"><%= prisoner.currently_imprisoned_status.html_safe %></div>
      </div>
    </div>
  <% end %>
</div>
<%= will_paginate @prisoners, renderer: BootstrapPagination::Rails %>

