<%-
  model_class = Prisoner
  klass = @prisoner.currently_imprisoned == false ? ' green' : ''

  page_title strip_tags(
    @prisoner.name + ' | ' + @prisoner.currently_imprisoned_status
  )

  @show_page_title = false
-%>

<% if user_signed_in? %>
  <div class='actions-container'>
    <%= render partial: 'shared/show_actions',
      locals: {
        object: @prisoner,
        index_path: prisoners_path,
        show_path: prisoner_path,
        edit_path: edit_prisoner_path
      }
    %>
  </div>
<% end %>
<div class="info">
  <div class="row">
    <div class="name-and-age col-md-7 col-md-push-2">
      <h1 class="name"><%= @prisoner.name %></h1>
      <% if @prisoner.date_of_birth.present? %>
        <p class="age">
          <%=t 'prisoners.labels.years_old', num: @prisoner.age_in_years %>
        </p>
      <% end %>
    </div>

    <div class="figure col-md-2 col-md-pull-7">
      <%= image_tag(@prisoner.portrait.url(:large), class: "img-responsive") %>

      <div class="left-box hide-big-screen">
        <div class="about state-board">
          <% if @prisoner.date_of_birth.present? %>
            <div>
              <%=t 'prisoners.labels.age' %>
              <span class="age">
                <%=t 'prisoners.labels.years_old',
                     num: @prisoner.age_in_years %>
              </span>
            </div>
          <% end %>
          <div class="kv total">
            <%=t 'prisoners.labels.total_days_in_prison.before_val' %>
            <span class="days">
              <%= number_with_delimiter(@prisoner.total_days_in_prison) %>
            </span>
          </div>
          <div class="kv status<%= klass %>">
            <%=t 'prisoners.labels.status' %>
            <span>
              <%= @prisoner.currently_imprisoned_status.html_safe %>
            </span>
          </div>
          <div>
            <%= t 'prisoners.labels.data_last_updated' %>
            <span>
              <%= l(@prisoner.data_last_updated, format: t('date.formats.long')) %>
            </span>
          </div>
        </div>
      </div>
    </div>

    <% klass = @prisoner.currently_imprisoned == false ? ' green' : '' %>

    <div class="right-box hide-small-screen col-md-3">
      <div class="state-board state-board-desktop">
        <div class="total">
          <div class="days">
            <%= number_with_delimiter(@prisoner.total_days_in_prison) %>
          </div>
          <div class="in-prison">
            <%=t 'prisoners.labels.total_days_in_prison.after_val' %>
          </div>
        </div>
        <div class="status<%= klass %>">
          <%= @prisoner.currently_imprisoned_status.html_safe %>
        </div>

        <div class="right-box-last-updated">
          <%= t 'prisoners.labels.data_last_updated' %>
          <br />
          <%= l(@prisoner.data_last_updated, format: t('date.formats.long')) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="arrests">
  <div class="header">
    <div><%=t '.arrests' %></div>
    <div>
      <div class="hor-line">
      </div>
    </div>
  </div>
  <%= if can? :new, Incident
    link_to t('shared.actions.with_obj.add_new',
              obj: t("activerecord.models.incident", count: 1)),
            new_prisoner_incident_path(@prisoner),
            class: 'btn btn-success'
  end %>

  <% @prisoner.incidents.order(date_of_arrest: :desc)
       .each_with_index do |incident, index| %>
    <div class="arrest">
      <%= if can? :edit, incident
            link_to t('shared.actions.with_obj.edit',
                      obj: t('activerecord.models.incident', count: 1)),
                    edit_prisoner_incident_path(@prisoner, incident),
                    class: 'btn btn-success'
          end %>
      <%= if can? :destroy, incident
            link_to t('shared.actions.with_obj.destroy',
                      obj: t('activerecord.models.incident', count: 1)),
                    prisoner_incident_path(@prisoner, incident),
                    method: :delete,
                    data: { confirm: t('shared.prompts.confirm') },
                    class: 'btn btn-danger'
          end %>
      <div class="row">
        <div class="col-md-6">
          <% if incident.date_of_release.present? %>
            <label><%=t 'prisoners.labels.in_prison_from' %></label>
            <div class="value">
              <%= l incident.date_of_arrest, format: t('date.formats.long') %> -
              <%= l incident.date_of_release, format: t('date.formats.long') %>
            </div>
          <% else %>
            <label><%=t 'prisoners.labels.in_prison_since' %></label>
            <div class="value">
              <%= l incident.date_of_arrest, format: t('date.formats.long') %>
            </div>
          <% end %>
        </div>
        <div class="col-md-6">
          <label><%=t 'prisoners.labels.charged_under_articles' %></label>
          <div class="value pipe">
            <%= incident.articles.map { |art|
                  link_to art.number,
                  article_path(art),
                  title: art.desc,
                  "data-toggle" => "tooltip"
                }.join('<i></i>').html_safe %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label><%=t 'prisoners.labels.imprisoned_at' %></label>
          <div class="value">
            <%=
              if incident.prison.present?
                link_to incident.prison.name, incident.prison
              end
            %>
          </div>
        </div>
        <div class="col-md-6">
          <label><%=t 'prisoners.labels.categories' %></label>
          <div class="value pipe">
            <%= incident.tags.map { |tag| link_to tag.name, tag }
                  .join('<i></i>').html_safe %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label><%=t 'prisoners.labels.arrest_description' %></label>
          <div class="descr"><%= simple_format_no_tags(incident.description_of_arrest) if incident.description_of_arrest.present? %></div>
        </div>
      </div>
      <% if incident.description_of_release.present? %>
        <div class="row">
          <div class="col-md-12">
            <label><%=t 'prisoners.labels.release_description' %></label>
            <div class="descr"><%= simple_format_no_tags(incident.description_of_release) if incident.description_of_release.present? %></div>
          </div>
        </div>
      <% end %>
  <% end %>
  </div>
</div>
