<%- 
  model_class = Prisoner

  if @prisoner.currently_imprisoned
   currently_imprisoned_status = 'Currently<br/> Imprisoned'
  elsif @prisoner.currently_imprisoned == false
   currently_imprisoned_status = 'Released'
  else
   currently_imprisoned_status = 'No Arrest<br/> Information'
  end

  page_title strip_tags(@prisoner.name + ' | ' + currently_imprisoned_status)

  #page_title_right link_to('View All Prisoners', prisoners_path, class: 'btn btn-default')

  @show_page_title = false
-%>

<% if user_signed_in? %>
  <div class='actions-container'>
    <%= render partial: 'shared/show_actions',
      locals: {
        object: @prisoner,
        index_path: prisoners_path,
        show_path: prisoner_path,
        edit_path: edit_prisoner_path
      }
    %>
  </div>
<% end %>

<div class="info row">
  <div class="col-md-9 left-box">
    <div class="figure"><%= image_tag(@prisoner.portrait.url(:large), class: "img-responsive") %></div>
    <div class="name h1"><%= @prisoner.name %></div>
  </div>
  <div class="col-md-3 right-box">
    <div class="total">
      <div class="days"><%= @prisoner.total_days_in_prison %></div>
      <div class="in-prison">total days spent in prison</div>
    </div>
    <div class="status"><%= currently_imprisoned_status.html_safe %></div>
  </div>
</div>
<div class="arrests">
  <div class="header"><div>Arrests</div><div><div class="hor-line"></div></div></div>
    <% @prisoner.incidents.order(date_of_arrest: :desc).each_with_index do |incident, index| %>
    <div class="arrest">
      <div class="row">
        <div class="col-md-6">
          <label><%= model_class.human_attribute_name(:date_of_arrest) %>: </label>
          <div class="value"><%= incident.date_of_arrest.strftime('%B %d, %Y') %></div>
        </div>
        <div class="col-md-6">
          <label><%= model_class.human_attribute_name(:charges) %>: </label>
          <div class="value">
            <% len = incident.articles.length
             incident.articles.each_with_index do |article, index| %>
                <%= link_to article.number, article %>
                <% if index != len-1 %>
                  <span></span>
                <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label><%= model_class.human_attribute_name(:prison) %>: </label>
          <div class="value">                      
            <%=  link_to incident.prison.name, incident.prison if incident.prison %>       
          </div>
        </div>
        <div class="col-md-6">
          <label><%= model_class.human_attribute_name(:tags) %>: </label>
          <div class="value">
            <% len = incident.tags.length
             incident.tags.each_with_index do |tag, index| %>
                <%= link_to tag.name, tag %>
                <% if index != len-1 %>
                  <span></span>
                <% end %>
            <% end %>          
          </div>
        </div>
      </div>
      <div class="row">
        <div class="description col-md-12"><%= simple_format_no_tags(incident.description_of_arrest) if incident.description_of_arrest.present? %></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label><%= model_class.human_attribute_name(:date_of_release) %>: </label> 
          <div class="value"><%=  incident.date_of_release ? incident.date_of_release.strftime('%B %d, %Y') : 'None' %></div>
          </div>
      </div>
      <div class="row">
        <div class="description col-md-12">
          <%= simple_format_no_tags(incident.description_of_release) if incident.description_of_release.present? %>
        </div>    
      </div>
  <% end %>
  </div>
</div>