<%- model_class = Prisoner -%>
<% page_title (model_class.model_name.human.titleize + ': ' + @prisoner.name + '<br>' + image_tag(@prisoner.portrait.url(:medium))) %>

<div id="incidents">
  <% @prisoner.incidents.each_with_index do |incident, index| %>
    <div id="incident-<%= incident.date_of_arrest %>" class="incident">
      <h2>Incident #<%= index + 1 %></h2>
      <dl class="dl-horizontal">
          <dt><strong><%= model_class.human_attribute_name(:date_of_arrest) %>:</strong></dt>
          <dd><%= incident.date_of_arrest.strftime('%B %d, %Y') %></dd>
          <dt><strong><%= model_class.human_attribute_name(:description_of_arrest) %>:</strong></dt>
          <dd><%= simple_format(incident.description_of_arrest) if incident.description_of_arrest.present? %></dd>
          <dt><strong><%= model_class.human_attribute_name(:tags) %>:</strong></dt>
          <dd>
            <ul>
              <% incident.tags.each do |tag| %>
                <li><%= link_to tag.name, tag %></li>
              <% end %>
            </ul>
          </dd>
          <dt><strong><%= model_class.human_attribute_name(:charges) %>:</strong></dt>
          <dd>
            <ul>
              <% incident.articles.each do |article| %>
                <li><%= link_to article.number, article %></li>
              <% end %>
            </ul>
          </dd>
          <dt><strong><%= model_class.human_attribute_name(:prison) %>:</strong></dt>
          <dd>
              <%= if incident.prison
                    link_to incident.prison.name, incident.prison
                  end %>
          </dd>
          <dt><strong><%= model_class.human_attribute_name(:date_of_release) %>:</strong></dt>
          <dd>
              <%= if incident.date_of_release
                    incident.date_of_release.strftime('%B %d, %Y')
                  end %>
          </dd>
          <dt><strong><%= model_class.human_attribute_name(:description_of_release) %>:</strong></dt>
          <dd><%= simple_format(incident.description_of_release) if incident.description_of_release.present? %></dd>
      </dl>
    </div>
<% end %>
</div>

<%= link_to t('.back', :default => t("helpers.links.back")),
              prisoners_path, :class => 'btn btn-default'  %>
<%= if can? :edit, @prisoner
      link_to t('.edit', :default => t("helpers.links.edit")),
              edit_prisoner_path(@prisoner), :class => 'btn btn-default'
end %>
<%= if can? :destroy, @prisoner
      link_to t('.destroy', :default => t("helpers.links.destroy")),
              prisoner_path(@prisoner),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger'
end %>
