<%- model_class = Prisoner -%>
<%
   if @prisoner.currently_imprisoned
     currently_imprisoned_status = 'Currently Imprisoned'
   elsif @prisoner.currently_imprisoned == false
     currently_imprisoned_status = 'Released'
   else
     currently_imprisoned_status = 'No Arrest Information'
   end

   page_title (model_class.model_name.human.titleize + ': ' + @prisoner.name + ' — ' + currently_imprisoned_status)

%>
<div class='actions-container'>
  <%= render partial: 'shared/show_actions',
        locals: {
          object: @prisoner,
          index_path: prisoners_path,
          show_path: prisoner_path,
          edit_path: edit_prisoner_path
                }
  %>
</div>

<%= image_tag(@prisoner.portrait.url(:medium)) %>
<p><strong><%= @prisoner.total_days_in_prison %></strong> total days spent in prison</p>
<div id="incidents">
  <% @prisoner.incidents.each_with_index do |incident, index| %>
    <div id="incident-<%= incident.date_of_arrest %>" class="incident">
      <h2>Incident #<%= index + 1 %></h2>
      <dl class="dl-horizontal">
          <dt><strong><%= model_class.human_attribute_name(:date_of_arrest) %>:</strong></dt>
          <dd><%= incident.date_of_arrest.strftime('%B %d, %Y') %></dd>
          <dt><strong><%= model_class.human_attribute_name(:description_of_arrest) %>:</strong></dt>
          <dd><%= simple_format(incident.description_of_arrest) if incident.description_of_arrest.present? %></dd>
          <dt><strong><%= model_class.human_attribute_name(:tags) %>:</strong></dt>
          <dd>
            <ul>
              <% incident.tags.each do |tag| %>
                <li><%= link_to tag.name, tag %></li>
              <% end %>
            </ul>
          </dd>
          <dt><strong><%= model_class.human_attribute_name(:charges) %>:</strong></dt>
          <dd>
            <ul>
              <% incident.articles.each do |article| %>
                <li><%= link_to article.number, article %></li>
              <% end %>
            </ul>
          </dd>
          <dt><strong><%= model_class.human_attribute_name(:prison) %>:</strong></dt>
          <dd>
              <%= if incident.prison
                    link_to incident.prison.name, incident.prison
                  end %>
          </dd>
          <dt><strong><%= model_class.human_attribute_name(:date_of_release) %>:</strong></dt>
          <dd>
              <%= if incident.date_of_release
                    incident.date_of_release.strftime('%B %d, %Y')
                  end %>
          </dd>
          <dt><strong><%= model_class.human_attribute_name(:description_of_release) %>:</strong></dt>
          <dd><%= simple_format(incident.description_of_release) if incident.description_of_release.present? %></dd>
      </dl>
    </div>
<% end %>
</div>
