<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subtype.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= link_to @subtype.type.name, @subtype.type %>
</p>

<p>
  <strong>Description:</strong>
  <%= simple_format(@subtype.description) %>
</p>

<div>
    <strong>Prisoners:</strong>
    <ol>
        <% @subtype_prisoners.each do |prisoner| %>
          <li><%= link_to prisoner.name, prisoner %></li>
        <% end %>
    </ol>
</div>

<%= link_to 'Edit', edit_subtype_path(@subtype) %> |
<%= link_to 'Back', subtypes_path %>
