<p id="notice"><%= notice %></p>

<p>
  <strong>Incident:</strong>
  <%= link_to @charge.incident.prisoner.name + ' ' + @charge.incident.date_of_arrest, @charge.incident %>
</p>

<p>
  <strong>Article:</strong>
  <%= link_to @charge.article.number, @charge.article %>
</p>

<%= link_to 'Edit', edit_charge_path(@charge) %> |
<%= link_to 'Back', charges_path %>
