<p id="notice"><%= notice %></p>

<p>
  <strong>Incident:</strong>
  <%= linkToIncident(@charge) %>
</p>

<p>
  <strong>Article:</strong>
  <%= link_to @charge.article.number, @charge.article %>
</p>

<%= link_to 'Edit', edit_charge_path(@charge) %> |
<%= link_to 'Back', charges_path %>
